sudo: required

language: node_js
node_js:
  - "node"

services:
  - docker

env:
  - AWS_ACCESS_KEY_ID="123" AWS_SECRET_KEY="xyz" AWS_REGION="us-east-1"

before_install:
#  - sudo apt-get install -y python3
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin

script:
  - docker-compose up -d
  - sleep 10
  - bash test-env.sh
  - cd test
  - npm ci
  - npm test