version: "3"
services:
  localstack:
    image: localstack/localstack
    ports:
      - "4567-4593:4567-4593"
      - "8080:8080"
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
    environment:
      - SERVICES=s3,lambda,cloudformation,iam,cloudwatch,logs
      - DEBUG=1
      - LAMBDA_EXECUTOR=docker
      - LAMBDA_DOCKER_NETWORK=aws-s3-invalidate-cdn_default

  pixboost:
    image: andyrbell/mountebank
    ports:
      - "4545:4545"
    volumes:
      - ./pixboost-stubs:/stubs
    entrypoint: mb start --configfile /stubs/imposters.ejs

  upstream:
    image: nginx
    ports:
      - "8081:80"