version: "3"
services:
  localstack:
    image: localstack/localstack:0.9.0
    ports:
      - "4567-4593:4567-4593"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SERVICES=s3,lambda,iam,cloudwatch,logs,cloudformation
      - DEBUG=1
      - LAMBDA_EXECUTOR=docker
      - LAMBDA_DOCKER_NETWORK=invalidatecdn
    networks:
      - invalidatecdn

  pixboost:
    image: andyrbell/mountebank:2.0.0
    ports:
      - "4545:4545"
      - "2525:2525"
    volumes:
      - ./pixboost-stubs:/stubs
    entrypoint: mb start --configfile /stubs/imposters.ejs
    networks:
      - invalidatecdn

networks:
  invalidatecdn:
    external: true
